.rules {
  background-image: url("../../Images/background-mainPage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .rules-content {
    max-width: 1604px;
    width: 100%;
    margin: 0 auto;
    .rules-content_text {
      h1 {
        font-family: Montserrat, serif;
        font-weight: 600;
        font-size: 32px;
        color: #fff;

        margin: 140px 0 69px;
      }
      h2 {
        font-family: Montserrat, serif;
        font-weight: 700;
        font-size: 24px;
        color: #fff;

        margin-top: 51px;
      }
      p {
        font-family: Montserrat, serif;
        font-weight: 500;
        font-size: 16px;
        color: #fff;

        margin-top: 26px;

        max-width: 774px;
      }
    }
  }
}