@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');



body {
  padding: 0;
  margin: 0;
  background: black;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}